header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    height: 80px;
}

.links-container{
    display: flex;
    align-items: center;
}

.brand-name{
    font-size: 1.4rem;
}

.links-container > a {
    margin-left: 20px;
}

.links-container > img {
    margin-left: 20px;
}


